<ul class="nav-list">
	<li>
		<a href="@absroot;index.html" class="<% if(nav === 'index') {%> current <% } %>">index</a>
	</li>
	<li>
		<a href="@absroot;about.html" class="<% if(nav === 'about') {%> current <% } %>">about</a>
	</li>
	<li>
		<a href="@absroot;test/test.html" class="<% if(nav === 'test1') {%> current <% } %>">test1</a>
	</li>
	<li>
		<a href="@absroot;test/test/test.html" class="<% if(nav === 'test2') {%> current <% } %>">test2</a>
	</li>
	<li>
		<a href="@absroot;test/test/test/test.html" class="<% if(nav === 'test3') {%> current <% } %>">test3</a>
	</li>
</ul>